.outer-shadow {
    --outer-shadow: 3px 3px 3px #00ffee, -3px -3px 3px #2E86C1;
    box-shadow: var(--outer-shadow);
}

.inner-shadow {
    --inner-shadow: inset 3px 3px 3px #00eeff, inset -3px -3px 3px #0099ff;
    box-shadow: var(--inner-shadow);
}
